body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif; }

body {
  background-color: #eee; }

/* -------------------------------------- */
/* GENERAL STYLES */
/* -------------------------------------- */
main {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #2A2A2B; }

/* -------------------------------------- */
/* GAME */
/* -------------------------------------- */
#field {
  background-color: #121312;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1; }
  #field .snake-head {
    width: 2rem;
    height: 2rem;
    background-color: #1976D2;
    position: absolute;
    background-color: #9CCC65;
    z-index: 1; }
  #field .snake-tail {
    width: 2rem;
    height: 2rem;
    background-color: #1976D2;
    position: absolute;
    background-color: #fff; }
  #field .food {
    width: 2rem;
    height: 2rem;
    background-color: #1976D2;
    position: absolute;
    background-color: #E91E63; }

#infoAlert {
  width: 8rem;
  height: auto;
  top: 36%;
  left: calc(50% - 5rem);
  background-color: #F7F7F7;
  z-index: 10;
  position: absolute;
  text-align: center;
  display: none;
  padding: .8rem;
  border: 2px solid #607D8B; }
  #infoAlert a {
    text-decoration: none;
    color: green;
    outline: none; }
